<!-- <% if(game !=null) {  %>
   

    <div class="player-box-1">

      <div class="row">
          <div class="col-6 col-md-4 px-5  pb-3 pt-4">
              <img src="/categories/<%= categories.img %>" class="rounded" alt="img-fluid Cinque Terre sticky-top" style="top:20px;" alt="<%= member.name %>" loading="lazy">

          </div>
         
         </div>
         <div class="line-box-1">
        

         </div>
         <header class="d-flex flex-wrap aline-items-center justify-content-md-start justify-content-center py- mb-4 ">
          <ul class="nav col-12 col-md-auto mb-2 text-end mb-md-0">
             <li><a href="" class="nav-link px-3 link-secondary ">Player Info</a></li>
             <li><a href="/matchs" class="nav-link px-3 link-secondary">Matches</a></li>
             <li><a href="" class="nav-link px-3 link-secondary">Videos</a></li>
             <li><a href="" class="nav-link px-3 link-secondary">News</a></li>
            
          </ul>
         
 </header>
    
     
      

 <% } else { %>
    <p>No data found.</p>
  <% } %>
     -->